<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".__APP_NAME__Application"
        android:allowBackup="true"
        android:icon="@android:drawable/sym_def_app_icon"
        android:label="__APP_NAME__"
<<<CAP:http
        android:networkSecurityConfig="@xml/network_security_config"
CAP:http>>>
        android:supportsRtl="true"
        android:theme="@style/Theme.__APP_NAME__">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.__APP_NAME__">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
